img.root-bg {
    height:100vh;
    object-fit:cover;
    width:calc(100vw - 24rem);
}
main.navigation {
    position:absolute;
    top:0;
    right:0;
    height:100vh;
    width:24rem;
   display:flex;
   justify-content:center;
   align-items:center;
}
main.navigation section.left-nav {
    background-color:rgba(255,255,255,1);
    height:100%;
    padding:15px;
    width:100%;
    position:relative;

}
.nav-header {
    width: calc(100% + 30px);
    background-color: #000;
    color: #fff;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 0 0;
    font-weight: bold;
}
.mainBody {
    position:relative;
}
.mainBody img {
    position:absolute;
    top:0;
    left:0;
}